*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

a{text-decoration: none;}

.logo{
	text-align: center;
	color: #1C51EB;
	font-weight: bold;
	margin-bottom: 20px;
}

.formulario{
	width: 400px;
	padding: 20px;
    margin: 0 auto;
}

.formulario p{
	width: 100%;
	font-size: 1.5em;
	
}

.field{

	width: 350px;
	margin-left: 25px;
	margin-bottom: 10px;

}

.field input{
	width: 330px;
    padding: 10px;
    border: 1px solid #D4D6D8;
    border-radius: 5px;
    background-color: #E2E5E9;
}

#esqueceu{
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: #1C51EB;
}

#ou{

	background-color: #fff;
	margin-top: 12px;
	font-size: 1em;
	text-align: center;
}

input[type=submit]{
	font-weight: bold;
	color: #fff;
	display: block;
	background-color: #1C51EB;
	height: 35px;
	border: none;
	outline: 0;
	cursor: pointer;
	width: 350px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
}

.btn_entrar{
	color: #fff;
	display: block;
	background-color: #1C51EB;
	height: 35px;
	border: none;
	outline: 0;
	cursor: pointer;
	width: 350px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
}

#btn_criar{
	margin-top: 12px;
	margin-left: 130px;
	border: none;
	padding: 10px 20px;
	color: #fff;
	font-weight: bold;
	background-color: #20aa25;
	border-radius: 5px;
}


#idiomas-l{
	color: #193E8C;
	font-size: 0.9em;
	text-align: center;
	margin-top: 50px;
	margin-left: 90px;
	float: left;

}



#idiomas-r{
	color: #193E8C;
	font-size: 0.9em;
	text-align: center;
	margin-top: 50px;
	margin-right: 90px;
	float: right;
}



#more{
	text-align: center;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	border: 1px solid #1C51EB;
	font-size: 1.2em;
	color: #737576;
	font-weight: bold;
	margin-left: 50px;
}

footer{
	clear: both;
	color: #737576;
	margin-top: 150px;
	margin-left: 42%;	
}

footer p{
	font-size: 0.8rem;
	margin-left: 20px;
	margin-top: 15px;
}
.menu-inferior a{
	font-size: 0.7rem;
    text-decoration: none;
	color: #737576;
}

@media (min-width: 976px) {
	#idiomas-r{
		margin-right: 350px;
	}
}

@media (min-width: 976px) {
	#idiomas-l{
		margin-left: 350px;
	}
}
